ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin_pass
ADMIN_JWT_SECRET=jwt_sec
POSTGRES_URL=your_vercel_postgres_connection_string_here

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=test@test.com
SMTP_PASSWORD=smtp_pass
SMTP_FROM_EMAIL="Local Test <test@test.com>"

# nodemailer mails
ADMIN_EMAIL="test@admintest.com"
EMAIL_USER="test@test.com"

# Marketing Tusk Sanity
NEXT_PUBLIC_SANITY_DATASET="development"
NEXT_PUBLIC_SANITY_PROJECT_ID="sanity_id"
SANITY_API_READ_TOKEN="sanity_token"
SANITY_PREVIEW_SECRET="sanity_secret_password"

# google API creds
CLIENT_ID="clientId.apps.googleusercontent.com"
CLIENT_SECRET="client_sec"
REFRESH_TOKEN="refresh_token"

SPREADSHEET_ID="spreadsheet_id"

GOOGLE_GENERATIVE_AI_API_KEY="ai_api_key"